---
name: CI CD
run-name: >
  Build and create release - '${{ github.event.head_commit.message }}',
  from ${{ github.ref }} by @${{ github.actor }}

on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - main
      - develop
    paths:
      - '!.github/**'
      - '.github/workflows/ci.yaml'
      - '.github/workflows/dotnet-build-and-verify.yaml'
      - 'src/**'
      - '!src/Tests/**'
      - '!src/.editorconfig'

  workflow_dispatch:
    inputs:
      dry-run:
        description: "Use dry-run"
        required: false
        type: boolean
        default: false
      cdDisabled:
        description: "Disable CD"
        required: false
        type: boolean
        default: false

env:
  CONFIGURATION: Release
  DOTNET_CORE_VERSION: 10.0.x
  NUGET_PACKAGE_SOURCE: >-
    ${{ (inputs.dry-run != '' && inputs.dry-run || false)
    && 'https://apiint.nugettest.org/v3/index.json'
    || 'https://api.nuget.org/v3/index.json' }}
  NUGET_AUDIENCE: >-
    ${{ (inputs.dry-run != '' && inputs.dry-run || false)
    && 'https://int.nugettest.org'
    || 'https://www.nuget.org' }}
  DRY_RUN: ${{ (inputs.dry-run != '' && inputs.dry-run || false) }}

jobs:
  # Determining next release version from current release version
  determine-next-release-version:
    name: Determine next Release version
    uses: ./.github/workflows/determine-next-release-version.yaml
    permissions:
      contents: read  # Required for checking out the code
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}

  # CI: build and verify tests
  build-and-verify:
    name: Build and verify tests
    needs: determine-next-release-version
    uses: ./.github/workflows/dotnet-build-and-verify.yaml
    permissions:
      contents: read  # Required for checking out the code
    with:
      configuration: Release  # ${{ env.CONFIGURATION }}
      dotnet-versions: 10.0.x  # ${{ env.DOTNET_CORE_VERSION }}
      version: ${{ needs.determine-next-release-version.outputs.version }}
      source-directory: ./src
      artifact-name: Packages

  # CD: Release Packages
  create-packages-release:
    if: ${{ (inputs.cdDisabled != '' && inputs.cdDisabled != 'true' || true) }}
    name: Create Packages Release
    needs: [build-and-verify, determine-next-release-version]
    uses: ./.github/workflows/cd.yaml
    permissions:
      contents: write  # to be able to publish a GitHub release
      packages: write  # for pushing GitHub Nuget packages
      id-token: write  # enable GitHub OIDC token issuance for this job
    with:
      dry-run: ${{ (inputs.dry-run != '' && inputs.dry-run || false) }}
      version: ${{ needs.determine-next-release-version.outputs.version }}
      artifact-name: Packages
    secrets: inherit