---
name: PR Checks
run-name: >
  Verify build and test - '${{ github.event.head_commit.message }}',
  from ${{ github.ref }} by @${{ github.actor }}

on:  # yamllint disable-line rule:truthy
  pull_request:
    branches:
      - main
      - develop

env:
  CONFIGURATION: Release
  DOTNET_CORE_VERSION: 10.0.x

jobs:
  # Determining next release version from current release version
  determine-next-release-version:
    name: Determine next Release version
    uses: ./.github/workflows/determine-next-release-version.yaml
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}

  # CI: build and verify tests
  build-and-verify:
    name: Build and verify tests
    needs: determine-next-release-version
    uses: ./.github/workflows/dotnet-build-and-verify.yaml
    with:
      configuration: Release  # ${{ env.CONFIGURATION }}
      dotnet-versions: 10.0.x  # ${{ env.DOTNET_CORE_VERSION }}
      version: ${{ needs.determine-next-release-version.outputs.version }}
      source-directory: ./src
      artifact-name: Packages
